@using PointOfSalesV2.Entities;
@using System.Collections.Generic;
@using System.Linq;

@{PatientCheckup checkup = ViewBag.Checkup as PatientCheckup;}
@{
    Layout = null;
    List<LanguageKey> languageKeys = ViewBag.LanguageKeys;
    string language = (string)(ViewBag.CurrentLanguage);
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width" />
    <title>InvoicePrint</title>
    <style>


        textarea {
            resize: none;
            overflow: hidden;
            min-height: 50px;
            max-height: 100px;
        }



        @@page {
            size: 8.5in 11in;
            margin-top: 25px;
            margin: 15px;
        }




        @@media print {
            table tfoot {
                display: table-row-group;
                position: relative;
            }

            #invoiceContainer {
                position: relative;
            }

            div > .divHeader {
                position: fixed;
                top: 0;
            }

            div > .divBody {
                display: inline;
            }


            div > .divFooter {
                position: relative !important;
                bottom: 0 !important;
            }

            tr .hideLines {
                border: 0 !important;
            }



            .noel, #estadoCuenta {
                display: block !important;
                font-size: 12px !important;
            }

            .noImprimir {
                display: none;
            }

            body {
                font-size: 12px;
                margin: 0cm;
            }

            h2 {
                font-size: 20px !important;
            }

            h3 {
                font-size: 18px !important;
            }

            h4 {
                font-size: 14px !important;
            }

            .textoInformativo {
                font-size: 14px !important;
            }

            .row > .col-md-2, .row > .col-md-1, .table thead > tr > th {
                font-size: 10px !important;
            }

            .titulo {
                font: bold;
                font-size: 30px !important;
                font-family: 'Agency FB';
            }

            .infoCompania {
                font-size: 12px !important;
                font-family: 'Agency FB';
            }

            .row > .col-md-2, .row > .col-md-1, .table tbody > tr > td {
                font-size: 9px !important;
            }

            .row > .col-md-2, .row > .col-md-1, .table tfoot > tr > th {
                font-size: 11px !important;
            }


            .row > .col-md-2, .row > .col-md-1, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
                padding: 0;
            }
        }

        table > tfoot > tr > th {
            border-top: 0 !important;
        }
    </style>


</head>
<body>
    <div id="printingContainer" style="margin-left:2%">
        <div class="panel-body receipt sheet" id="impresionBody">

            <div class="row noImprimir">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <button id="printButton" class="btn btn-default col-md-2">
                        <i class="fa fa-print"></i> @languageKeys.FirstOrDefault(x => x.Key.ToLower() == "print_btn").Value
                    </button>
                </div>


            </div>
            <div id="impresoraNormal">

                <div id="estadoCuenta" class="row">
                    <div class="col-xs-12">
                        <div class="block full">




                            <div id="invoiceContainer">
                                <div class="divBody">
                                    <table class="">
                                        <thead>
                                            <tr><th class="titulo">@(checkup.Appointment?.Hospital?.Name.ToUpper())</th></tr>
                                        </thead>
                                    </table>
                                  <table>
                                        <thead>
                                            <tr><th class="infoCompania">@languageKeys.FirstOrDefault(x => x.Key.ToLower() == "address_lbl").Value : </th>
                                            <td>@checkup.Appointment?.Hospital?.Address</td>    
                                            </tr>
                                            <tr><th class="infoCompania">@languageKeys.FirstOrDefault(x => x.Key.ToLower() == "phone_lbl").Value : </th>
                                             <td>@checkup.Appointment?.Hospital?.PhoneNumber</td>    
                                            </tr>
                                            <tr><th class="infoCompania">@languageKeys.FirstOrDefault(x => x.Key.ToLower() == "nrc_lbl").Value : </th>
                                             <td>@checkup.Appointment?.Hospital?.NRC</td>    
                                            </tr>
                                            <tr><th class="infoCompania">@languageKeys.FirstOrDefault(x => x.Key.ToLower() == "email_lbl").Value : </th>
                                             <td>@checkup.Appointment?.Hospital?.Email</td>    
                                            </tr>
                                        </thead>
                                    </table>
                                    <br />
                                    <table class="table table-vcenter table-borderless">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                @*<th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>*@
                                                <th></th>
                                                <th></th>
                                                <th class="text-left">@languageKeys.FirstOrDefault(x => x.Key.ToLower() == "date_lbl").Value :</th>
                                                <td class="text-left">@(checkup.Date.ToString("dd-MM-yyyy"))</td>
                                            </tr>

                                            <tr>
                                                <th>@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "doctor_lbl")?.Value?? "doctor_lbl") : </th>
                                                <td class=" ">@checkup.Doctor?.FullName.ToString()</td>
                                                <th class=" "></th>
                                                <th class="text-left">@( languageKeys.FirstOrDefault(x => x.Key.ToLower() == "medicalspeciality_lbl")?.Value?? "medicalSpeciality_lbl") :</th>
                                                <td class="text-left">@(checkup.Doctor?.MedicalSpeciality?.Name??"")</td>
                                            </tr>
                                               <tr>
                                                <th>@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "patient_lbl")?.Value?? "patient_lbl") : </th>
                                                <td class=" ">@checkup.Patient.NameAndCode.ToString()</td>
                                                 <th class=" "></th>
                                                <th class="text-left">@( languageKeys.FirstOrDefault(x => x.Key.ToLower() == "documentnumber_lbl")?.Value?? "documentNumber_lbl") :@(checkup.Patient.CardId.ToString())</th>
                                                <td class="text-left">@(checkup.Patient.CardId.ToString())</td>
                                            </tr>
                                             <tr>
                                                <th>@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "age_lbl")?.Value?? "age_lbl") : </th>
                                                <td class=" ">@checkup.Patient.Age.ToString()</td>
                                                 <th class=" "></th>
                                                <th class="text-left">@( languageKeys.FirstOrDefault(x => x.Key.ToLower() == "bloodtype_lbl")?.Value?? "bloodType_lbl") :</th>
                                                <td class="text-left">@(checkup.Patient.BloodType.ToString())</td>
                                            </tr>
                                             <tr>
                                                <th>@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "phonenumber_lbl")?.Value?? "phoneNumber_lbl") : </th>
                                                <td class=" ">@checkup.Patient.PhoneNumber.ToString()</td>
                                                 <th class=" "></th>
                                                <th class="text-left">@( languageKeys.FirstOrDefault(x => x.Key.ToLower() == "insurancecard_lbl")?.Value?? "insuranceCard_lbl") :</th>
                                                <td class="text-left">@(checkup.Patient.InsuranceCardId.ToString())</td>
                                            </tr>
                                            
                                            <tr>
                                                <th>@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "insurance_lbl")?.Value?? "insurance_lbl") : </th>
                                                <td class=" ">@(checkup.Insurance?.Name??"")</td>
                                                 <th class=" "></th>
                                                <th class="text-left">@( languageKeys.FirstOrDefault(x => x.Key.ToLower() == "insuranceplan_lbl")?.Value?? "insurancePlan_lbl") :</th>
                                                <td class="text-left">@(checkup.InsurancePlan?.Name??"")</td>
                                            </tr>


                                            <tr>
                                                <th style="color:white !important; visibility:hidden;">sssss</th>
                                            </tr>

                                        </thead>

                                    </table>
                                    <table class="table table-vcenter">
                                        <thead class="table-bordered tabl">
                                            <tr>

                                                <th class="text-left" style="border: 1px solid black;">@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "name_lbl")?.Value?? "name_lbl")</th>
                                                <th class="text-left" style="border: 1px solid black;">@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "quantity_lbl")?.Value?? "quantity_lbl")</th>
                                                <th class="text-center" style="border: 1px solid black;">@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "whentotake_lbl")?.Value?? "whenToTake_lbl") </th>
                                                <th class="text-center" style="border: 1px solid black;">@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "emptystomach_lbl")?.Value?? "emptyStomach_lbl") </th>
                                                <th class="text-center" style="border: 1px solid black;">@(languageKeys.FirstOrDefault(x => x.Key.ToLower() == "observations_lbl")?.Value?? "observations_lbl") </th>
                                            </tr>
                                        </thead>
                                        <tbody class="filas">
                                            @for (int i = 0; i < checkup.CheckupPrescriptions.Count; i++)
                                            {
                                            <tr>

                                                <td class="text-left">@checkup.CheckupPrescriptions[i].Product?.Name</td>
                                                <td class="text-left">@checkup.CheckupPrescriptions[i].Quantity</td>
                                                <td class="text-center">@(languageKeys.FirstOrDefault(x => x.Key == checkup.CheckupPrescriptions[i].WhenToTake)?.Value??checkup.CheckupPrescriptions[i].WhenToTake) </td>
                                                <td class="text-center"> @(checkup.CheckupPrescriptions[i].EmptyStomach? languageKeys.FirstOrDefault(x => x.Key.ToLower() == "yes_lbl")?.Value: languageKeys.FirstOrDefault(x => x.Key.ToLower() == "no_lbl")?.Value)</td>
                                                <td class="text-center"> @checkup.CheckupPrescriptions[i].AdditionalData</td>
                                            </tr>
                                            }





                                        </tbody>


                                    </table>
                                    <br /><br /><br />
                                </div>
                                <div class="divFooter">

                                    <table class="table table-vcenter">
                                        <tfoot>

                                            <tr>

                                               
                                                <th style=" border:none; width:220px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp   @((languageKeys.FirstOrDefault(x => x.Key.ToLower() == "attendedby_lbl")?.Value?? "attendedBy_lbl").ToUpper())  &nbsp &nbsp  </th>
                                                <th style=" border:none; width:220px;"></th>
                                            

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>








                        </div>
                    </div>
                </div>
            </div>


            <div class="row ">
                <div class="col-md-12 col-xs-12 col-sm-12">

                    <h4 style="height:10px;"></h4>
                    <h4 class="text-center"></h4>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("printButton").addEventListener("click", function (event) {
            window.print();

        }, false);
        function auto_grow(elementId) {
            var element = document.getElementById(elementId);
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>
</body>
</html>
